<div class="text-center">
  <h2>{{postTitle}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{postContent}}</p>
  <p>Created by {{userName}} on {{createdAt}}</p>
  <p>
    <button class="btn btn-primary">Create new post</button>
  </p>
</div>
