  
    <div class="flex-column justify-space-around" id="mainbanner">
      <header class="display-flex justify-space-between align-center p-2">
        <h1 class="is-info">
          <span role="img" aria-label="message">💬</span>
          <a href="/">Home</a>
        </h1>

<div class="row">
  <div class="col-auto">
    <h2 class="createpost">Welcome, {{firstName}}!</h2>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-6">
    <h3 class="createpost">Create a New Post:</h3>
  <div class="field">
  <label for="postTitle" class="label">Post Title</label>
  <div class="control">
    <input class="form-input" type="text" id="post-title" name="post-name" />
  </div>
</div>
<div "form-group" class="field">
  <label  for="postContent" class="label">Post Content</label>
  <textarea class="form-input" id="post-desc" name="post-desc"></textarea>
  <div class="control">
  </div>
</div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if posts.length}}
{{#each posts as |post| }}

<div class="box content">
  <article class="post">
    <h2>
      <a href="/post/{{post.id}}">{{post.postTitle}}</a>
    </h2>
    <h4> Created by {{post.User.userName}} on {{format_date post.createdAt}}</h4>
    <div class="media">
      <div class="media-left">
        <p class="image is-32x32">
          <img src="https://www.shutterstock.com/image-vector/man-icon-vector-260nw-1040084344.jpg">
        </p>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <a href="#">@user</a> replied 34 minutes ago &nbsp;
            <span class="tag">Q & A</span>
          </p>
        </div>
      </div>
      <div class="media-right">
        <span class="has-text-grey-light"><i class="fa fa-comments"></i> 1</span>
      </div>
    </div>
  </article>


  {{/each}}
  {{else }}
  <div class="row mb-4 post">
    <div class="col-md-5">
      <p>No posts created yet.</p>
    </div>
  </div>
  {{/if}}
  

<script src="js/profile.js"></script>
