<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{firstName}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="postTitle">post name:</label>
        <input class="form-input" type="text" id="post-title" name="post-name" />
      </div>
      <div class="form-group">
        <label for="postContent">Description:</label>
        <textarea class="form-input" id="post-desc" name="post-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if posts.length}}
  <div class="col-md-6 post-list">
    <h3>Current Posts:</h3>

    {{#each posts as |post|}}
   <div class="text-center">
  <h2>{{postTitle}}</h2>
  <p>{{postContent}}</p>
  <p>Created by {{userName}} on {{createdAt}}</p>
  <p>
    <button class="btn btn-primary">Create new post</button>
  </p>
</div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="js/profile.js"></script>
